@{
    Layout = "";
}
@model Nop.Plugin.Payments.Manual.Models.PaymentInfoModel
<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td>
            <label asp-for="CreditCardTypes">select mobile bank:</label>
        </td>
        <td>
            <select asp-for="CreditCardType" asp-items="Model.CreditCardTypes" class="dropdownlists"></select>
        </td>
    </tr>

    <tr>
        <td>
            <label >send to:</label>
        </td>
        <td>
            <label style="font-weight: bold;">0887 36 66 45</label>
        </td>
    </tr>

    <tr>
        <td>
            <label asp-for="CardCode">enter Ref number:</label>
        </td>
        <td>
            <input type="text" asp-for="CardCode" style="width:165px !important;" autocomplete="off" maxlength="22" />
            <span asp-validation-for="CardCode"></span>
        </td>
    </tr>
</table>
